__pycache__/
*.py[cod]
*$py.class
*.egg-info
.pytest_cache
.ipynb_checkpoints

thumbs.db
.DS_Store
.idea

# Python venv
*.venv*/
*venv*/

# Files generated usually during testing
*.mp3
*.m4a
*.flac
*.wav
