numba
numpy
torch
torchaudio
tqdm
einops
einsum
jaxtyping
more-itertools
tiktoken
triton>=2.0.0,<3;platform_machine=="x86_64" and sys_platform=="linux" or sys_platform=="linux2"
# Interpretability tooling
transformer_lens
circuitsvis
plotly
tabulate
wandb
pydantic
tqdm
# Jupyter, etc...
ipython
notebook
ipykernel
# Sound
librosa
soundfile
pydub
jiwer
# Above is a subset of below + packages from OG Whisper:
# torch
# torchvision
# torchaudio
# matplotlib
# numpy
# tqdm
# transformer_lens
# circuitsvis
# plotly
# ipython
# einops
# notebook
# transformers
# datasets
# evaluate
# jupyter
# matplotlib
# scikit-learn
# wandb
# tensorboard
# jaxtyping
# torchtyping
# tiktoken
# frozendict
# torchinfo
# openai
# pydantic
# # Sound
# librosa
# soundfile
# pydub
# jiwer