torch
torchvision
torchaudio
matplotlib
numpy
tqdm
transformer_lens
circuitsvis
plotly
ipython
einops
notebook
transformers
datasets
evaluate
jupyter
matplotlib
scikit-learn
wandb
tensorboard
jaxtyping
torchtyping
tiktoken
frozendict
torchinfo
openai
pydantic
# Sound
librosa
soundfile
pydub
jiwer